/* Add this CSS for the custom-button */
.custom-button {
    padding: 10px 30px; /* Adjust the padding values as needed */
    margin-top: 100px;
    margin-bottom: 10px;
    /* Add any other styling you want for the button */
}
