.container {
height: 25px;
background-color: #CCC;
position: relative;
}

.container .progress-bar {
   position:absolute;
   height:100%;
   border-radius: 7px;
   background-color:rgb(125, 44, 255);
   animation: progress-bar 5s forwards;
}

#play-animation {}

@keyframes progress-bar {
   0% { width: 0%;}
   100% { height: 100%;}
}
